body {
  background-color: antiquewhite;
}

h1 {
  text-align: center;
}

canvas {
  background-color: darkkhaki;
  position: relative;
  border: 20px solid khaki;
  left: 35px;
}

.canvaret {
  background-color: violet;
  position: relative;
  left: 30px;
  border: 20px solid plum;
}
