body {
  background-color: paleturquoise;
}
h1 {
  text-align: center;
}
canvas {
  background-color: lavender;
  position: relative;
  top: 200px;
  left: 400px;
  border: 20px solid lightblue;
}
